body, html {
    margin: 32px;
    font-family: 'PP Neue Machina';
    color:#CD0E18;
}

h5 {
    font-size: 28pt;
    margin: 0;
}
h1 {
    font-family: 'PP Neue Machina';
    font-weight: 400;
    font-size: 64pt;
    color: #CD0E18;
}

#mainBlock{
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height: 98px;
    height: 189px;
    padding: 5%;
}

#searchBar{
    color: #CD0E18;
    border-style: solid;
    border-color: #CD0E18;
    height: 77px;
    font-size: 15pt;
    padding: 10px;
    width: 1037px;
}

#searchDiv{
    display: inline-block;
    justify-content: space-evenly;
}

#subType{
    color: #CD0E18;
    font-size: 12pt;
    text-align: left;
    font-family: 'Inter';
    margin: 0;
}

button{
    background-color: #CD0E18;
    border-style: none;
    color: white;
    font-family: 'PP Neue Machina';
    font-size: 20pt;
    padding: 10px;
    width: 201px;
    height: 102px;
}